
<br>

<div class="container-fluid">
<table class="table">

  <thead class=" thead-dark table-hover">
    <tr>
      <th id="borda1" scope="col">Tarefa</th>
      <th scope="col">Concluída</th>
      <th id="borda2" scope="col"><a [routerLink]="['/tarefas/cadastrar']"
        class="btn btn-primary btncolor">
        + Nova Tarefa
     </a></th>
      
    </tr>
  </thead>
  <tbody> 
  <tr scope="row" *ngFor="let tarefa of tarefas">
    <td
        [tarefaConcluida] = "!tarefa.concluida"
        [class.bg-color] = "!tarefa.concluida">
        {{tarefa.nome}}
      
    </td>
    <td style="width: 70px" class="text-center ">
      <div class="custom-control custom-checkbox">

        <input type="checkbox" class="custom-control-input" [id]="tarefa.id" [value]= "tarefa.id" [checked]= "!tarefa.concluida" (click)= "alterarStatus(tarefa)">
        <label class="custom-control-label" [for]="tarefa.id" ></label>
      </div>
      
    </td>

   
    <td class="" style="width: 200px">
      <a [routerLink]="['/tarefas/editar',tarefa.id]"
        title="Editar" alt="Editar"
        class="btn btn-primary  btneditar">
        Editar
      </a>
      <a href="#" title="Remover" alt="Remover" 
        (click)="remover($event, tarefa)"
        class="btn btn-primary  btnremover">
        Remover
      </a>
    </td>
  </tr>
</tbody>
<thead  class=" thead-dark table-hover">
  <tr>
    <th id="borda3" scope="col">It gets easier. Every day it gets a little easier - Baboon </th>
    <th scope="col"></th>
    <th id="borda4" scope="col"></th>
    
  </tr>
</thead>
</table>

<p *ngIf="tarefas.length==0">Nenhuma tarefa cadastrada.</p>

</div>